.pagination_list {
    display: flex;
    list-style: none;
    li {
        font-size: 1rem;
        font-family: "Open Sans",sans-serif;
        min-width: 40px;
        min-height: 40px;
        text-align: center;
        color: #c0c0c0;
        background-color: #111111a8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        &:not(:last-of-type){
            margin-right: 10px;
        }
    }
    &_dots {
        background-color: #11111148 !important;
    }
}

@media (max-width: 500px) {
    .pagination_list {
        li {
            min-width: 35px;
            min-height: 35px;
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 400px) {
    .pagination_list {
        li {
            min-width: 25px;
            min-height: 25px;
            font-size: 0.7rem;
        }
    }
}